:root {
    --lavender-blush: #FDEFF9;
    --indigo: #4B0281;
    --byzantine: #BA29A0;
    --cetacean-blue: #10002D;
    --anti-white: #F2F2F2;
    --platinum: #D1E2E8;
    --gold: #FCC923;
    --silver: #CFCFCF;
    --bronze: #977547;
}