:root {
  --lavender-blush: #fdeff9;
  --indigo: #4b0281;
  --byzantine: #ba29a0;
  --cetacean-blue: #10002d;
  --anti-white: #f2f2f2;
  --platinum: #d1e2e8;
  --gold: #fcc923;
  --silver: #cfcfcf;
  --bronze: #977547;
}
